.home_wrapper{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
}
.banner{
    overflow: hidden;
    position: relative;
    z-index: -1;
}
.banner::after{
    position: absolute;
    content: ' ';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}
.banner_img img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.banner_content{
    width: 40%;
    position: absolute;
    top: 50%;
    left: calc(50% - 100px);
    right: auto;
    color: #fff;
    z-index: 1;
}
.banner_content h2{
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
    position: relative;
}
.banner_content h2::before{
    position: absolute;
    content: ' ';
    bottom: -10px;
    left: 0;
    width: 10%;
    background: #fff;
    height: 5px;
}
.banner_content p{
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 16px;
}

/* Home Courses Section Styles  */
.homeCourses{
    padding: 50px 0px;
    overflow: hidden;
}
.hc_holder{
    display: inline-block;
    vertical-align: top;
    width: calc(33% - 10px);
    margin: 0 5px 10px 5px;
}
.hc_card{
    float: left;
    width: 100%;
    padding: 5px;
    overflow: hidden;
    box-shadow: 0px 1px 6px 1px rgba(44, 39, 39, 0.35);
    display: flex;
    max-height: 150px;
    height: 150px;
    min-height: 150px;
    border-radius: 3px;
}
.hc_img{
    flex: 1;
    width: 30%;
    overflow: hidden;
}
.hc_img img{
    display: block;
    object-fit: cover;
}
.hc_content{
    padding: 0px 5px 5px 10px;
    flex: 2;
    width: 70%;
    position: relative;
}
.hc_content h2{
    font-size: 16px;
    line-height: 20px;
    color: var(--themeColor);
    margin-bottom: 10px;
}
.hc_content p{
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
    overflow: auto;
    color: var(--lightColor);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}
.hc_action{
    position: absolute;
    bottom: 2%;
    left: auto;
}
.hc_action a{
    font-weight: 800;
    margin-right: 30px;
    color: var(--lightColor);
    font-size: 14px;
}
.hc_action a.red_link{
    color: var(--redColor);
}
.hc_action a:focus,
.hc_action a:hover{
    color: var(--themeColor);
}
/* Home Events Section Styles  */
.homeEvents{
    padding: 50px 0px;
    overflow: hidden;
}
.ev_holder{
    display: inline-block;
    vertical-align: top;
    width: calc(33% - 10px);
    margin: 0 5px 10px 5px;
}
.ev_card{
    float: left;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 1px 6px 1px rgba(44, 39, 39, 0.35);
    border-radius: 3px;
}
.ev_img{
    height: 150px;
    width: 100%;
    overflow: hidden;
}
.ev_img img{
    display: block;
    object-fit: cover;
}
.ev_content{
    width: 100%;
    overflow: hidden;
    display: flex;
}
.ev_date{
    width: 20%;
    background: var(--whiteColor);
    background: var(--redColor);
    flex: 1;
    padding: 15px 0px 10px 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.ev_date span{
    display: block;
    margin-bottom: 2px;
}
.ev_date strong{
    font-size: 12px;
    line-height: 16px;
}
.ev_content_holder{
    width: 80%;
    flex: 4;
    background: var(--whiteColor);
    padding: 5px 10px;
}
.ev_content_holder a h3{
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 5px;
    color: var(--themeColor);
}
.ev_content_holder a h3:hover{
    color: var(--redColor);
}
.ev_content_holder span{
    font-size: 12px;
    line-height: 16px;
    color: green;
}