.header_holder{
    background-color: rgba(0, 46, 59, 0.6);
    padding: 10px 2px;
    text-align: center;
    overflow: hidden;
}
.logo_holder{
    display: inline-block;
    vertical-align: top;
    margin-right: 10%;
    color: white;
}
.navbar{
    display: inline-block;
    vertical-align: top;
}
.nav_list{
    padding: 5px 2px;
    overflow: hidden;
}
.nav_list li{
    float: left;
}
.nav_list li a{
    display: inline-block;
    padding: 10px 15px;
    color: var(--whiteColor);
    font-weight: 400;
    font-size: 14px;
}
.nav_list li a.nav_btn{
    background: var(--redColor);
}
.nav_list li a:focus,
.nav_list li a:hover{
    color: #0009;
}