.checkout{
    padding: 100px 50px;
}
.checkout h1{
    padding: 20px 0px;
    font-size: 3rem;
    line-height: normal;
    color: var(--themeColor);
    margin-bottom: 30px;
}
.checkout_holder{
    display: flex;
}
.checkout_summary h1{
    padding: 20px 0px;
    font-size: 26px;
    line-height: 30px;
    color: var(--themeColor);
    margin-bottom: 30px;
}
.stdInfo{
    flex: 1;
    padding: 0px 20px;
}
.checkout_summary{
    flex: 1;
    padding: 0px 20px;
}

.stdInfo p{
    font-size: 12px;
    font-style: italic;
    font-weight: 700;
    color: var(--redColor);
    margin-bottom: 5px;
}
.stdInfo_form div.lastField{
    margin-bottom: 30px;
}
.checkout_summary_holder{
    width: 60%;
}
.chk_bar{
    overflow: hidden;
    border-bottom: 1px solid var(--lightColor);
    padding: 10px 0px 20px 0px;
    margin-bottom: 30px;
}
.chk_bar span{
    color: var(--lightColor);
    display: inline-block;
}
.chk_bar span:first-child{
    float: left;
}
.chk_bar span.chk_prc{
    float: right;
}
.checkout_summary_holder button.btn_primary{
    width: 100%;
    display: block;
    padding: 20px 10px ;
}