:root {
    /* --boxShadow: 0px 5px 5px -5px rgba(44, 39, 39, 0.75); */
    --boxShadow: 0px 1px 6px 1px rgba(44, 39, 39, 0.75);
    /* 0, 46, 59, 1  for theme color*/
    --themeColor: #002e3b;
    --lightColor: #868686;
    --whiteColor: #fff;
    --lightBorder: 0 2px 3px rgb(0 0 0 / 10%);
    --boxBorder: rgb(0 0 0 / 10%);
    --redColor: #ec595f;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all ease-in-out 0.3s;
    text-decoration: none;
    font-family: "Noto Sans", "sans-serif", sans-serif !important;
    /* 400 Regular
    600 SemiBold
    800 Bold */
  }
  body {
    margin: 0;
    padding: 0;
    min-width: 320px;
  }
  .unstyled {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .btn_primary {
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 0px;
    padding: 5px 20px;
    outline: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all ease-in-out 0.3s;
    border: 1px solid var(--themeColor);
    color: var(--themeColor);
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-transform: uppercase;
    background: transparent;
    z-index: 0;
    text-align: center;
  }
  .btn_primary.active,
  .btn_primary:focus,
  .btn_primary:hover {
    color: var(--whiteColor);
  }
  .btn_primary.active{
    background: var(--themeColor);
  }
  .btn_primary::after {
    position: absolute;
    content: " ";
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    /* transform: translateX(-102%); */
    left: 0;
    width: 0;
    transition: all ease-in-out 0.3s;
    background: var(--themeColor);
  }
  .btn_primary:focus::after,
  .btn_primary:hover::after {
    border: 1px solid transparent;
    width: 100%;
    color: var(--whiteColor);
    transform: translate(0);
  }
  .heading{
    font-size: 24px;
    line-height: 28px;
    font-weight: 800;
    color: var(--themeColor);
    margin-bottom: 20px;
    text-align: center;
  }
  .grid{
    width: 1200px;
  }
  .col-lg{
    width: 1200px;
  }
  .col-md{
    width: 992px;
  }
  .col-sm{
    width: 768px;
  }